# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
package-lock.json

# misc
.idea
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

#logs
*.log*

build/
dist/

#amplify-do-not-edit-begin
amplify/
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
